<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7887480139-2ljq15jnnpo96mfo9sqstkkpagjrti00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7887480139-2ljq15jnnpo96mfo9sqstkkpagjrti00</string>
	<key>API_KEY</key>
	<string>AIzaSyBJisxBnk-tmhSjY6FhBVPPofqBj6goHzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>7887480139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.begali.testPro</string>
	<key>PROJECT_ID</key>
	<string>test-pro-712d2</string>
	<key>STORAGE_BUCKET</key>
	<string>test-pro-712d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7887480139:ios:7299b883c2f3554730f4ce</string>
</dict>
</plist>